.main__charts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.chart__container{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 650px;
    background-color: var(--light-color);
    border-radius: 15px;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

.chart{
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
